{% extends "base.html" %}

{% block title %} Edit To-Do-Task {% endblock %}

{% block content %}
<section id="todobox">
    <form action="{% url 'edit' task.pk %}" method="post">{% csrf_token %}
        <div id="formtask">
            <div id="formselect">
                {{ form.priority }}
            </div>
            <input name="content"
                   type="text"
                   value="{{ task.content }}"
                   value="{% if form.content.value %}{{ form.content.value }}{% else %}{{ task.content }}{% endif %}">
            <div id="formbutton">
                <input type="submit" value="Update">
            </div>
        </div>
        {% for error in form.content.errors %}
        <p class="boxtextcenter" style="color: red">{{ error }}</p>
        {% endfor %}
    </form>
</section>
{% endblock %}