{% extends "base.html" %}

{% block title %} Edit To-Do-Task {% endblock %}

{% block content %}
<section id="todobox">
    <form action="{% url 'edit' task.pk %}" method="post">{% csrf_token %}
        <div id="formtask">
            <div id="formselect">
                <select name="priority">
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
            </div>
            <input name="content" type="text" value="{{ task.content }}">
            <div id="formbutton">
                <input type="submit" value="Update">
            </div>
        </div>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
        <p class="boxtextcenter" style="color: red">{{ field }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
    </form>
</section>
{% endblock %}